python-dotenv==1.0.1
PyPDF2==3.0.1
langchain==0.1.17
langchain-community==0.0.30
langchain-together==0.0.3
together==0.2.10
requests==2.31.0
django==5.2.4
torch==2.3.0
transformers==4.41.2
pillow==10.3.0